<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.wemedia.mapper.WmMaterialMapper">

    <sql id="BaseRes">
        id
        ,user_id userId,url,type,is_collection isCollection,created_time createdTime
    </sql>

    <select id="findAll" parameterType="com.heima.model.wemedia.dtos.WmMaterialDto"
            resultType="com.heima.model.wemedia.pojos.WmMaterial">
        select
        <include refid="BaseRes"></include>
        from wm_material
        <where>
            <if test="isCollection == 1">
                is_collection = #{isCollection}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
        order by created_time desc
    </select>
    <select id="findAllByUrl" resultType="com.heima.model.wemedia.pojos.WmMaterial">
        select
        <include refid="BaseRes"/>
        from wm_material
        where 1 = 1 and user_id = #{userId} and url in
        <foreach collection="urls" separator="," open="(" close=")" item="url">
            #{url}
        </foreach>
    </select>
</mapper>