<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.wemedia.mapper.WmUserMapper">

    <sql id="BaseRes">
        id,
        ap_user_id apUserId,
        ap_author_id apAuthorId,
        name,
        password,
        salt,
        nickname,
        image,
        location,
        phone,
        status,
        email,
        type,
        score,
        login_time loginTime,
        created_time createdTime
    </sql>

    <insert id="save" parameterType="com.heima.model.wemedia.pojos.WmUser">
        <selectKey order="AFTER" keyProperty="id" keyColumn="id" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        insert into wm_user(id,ap_user_id,ap_author_id,name,password,salt,nickname,image,location,phone,status,email,type,score,login_time,created_time)
        values(#{id},#{apUserId},#{apAuthorId},#{name},#{password},#{salt},#{nickname},#{image},#{location},#{phone},#{status},#{email},#{type},#{score},#{login_time},#{created_time})
    </insert>
</mapper>