<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.article.mapper.ApArticleMapper">

    <insert id="saveArticle" parameterType="com.heima.model.article.pojos.ApArticle">
        <!--<selectKey resultType="java.lang.Long" keyProperty="id" keyColumn="id">
            select LAST_INSERT_ID()
        </selectKey>-->
        insert into ap_article values(#{id},#{title},#{authorId},#{authorName},#{channelId},#{channelName},#{layout},#{flag},#{images},#{labels},
           #{likes},#{collection},#{comment},#{views},#{provinceId},#{cityId},#{countyId},#{createdTime},#{publishTime},#{syncStatus},#{origin})
    </insert>
</mapper>