<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.admin.mapper.AdSensitiveMapper">
    <sql id="BaseRes">
        id,sensitives,created_time createdTime
    </sql>
    <update id="update">
        update ad_sensitive
        <set>
            <if test="sensitives != null and sensitives != ''">
                sensitives = #{sensitives},
            </if>
            <if test="createdTime != null">
                created_time = #{createdTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="findAll" parameterType="java.lang.String" resultType="com.heima.model.admin.pojos.AdSensitive">
        select
        <include refid="BaseRes"/>
        from ad_sensitive
        <where>
            <if test="name != null and name != ''">
                sensitives like '%${name}%'
            </if>
        </where>
    </select>
</mapper>